.main{
    width: 100%;
    height: 600px;
    background-color: blueviolet;
}
.main div{
    height: 100px;
    width: 100px;
}
.sub1{
    background-color: chartreuse;
    transform: scale(2);
}
.sub2{
    background-color: cornsilk;
    transform: translate(200px ,60px);

}
.sub3{
    background-color: deeppink;
    transform: rotate(60deg);
}
.sub4{
    background-color: gold;
    transform: skew(30deg,40deg);
}